body {
	margin: 0 auto;
	text-align: center;
	font-family: "Tahoma","Lucida Sans Unicode","Helvetica",sans-serif;

}

#mainContainer{
	width: 100%;
	height: 100%;
	opacity: 1;
}
#footer{
	width: 100%;
	height: 10px;
	background-color: white;
	position: fixed;
	bottom: 0;
	z-index: 300;
	background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,1)); /*Safari 5.1-6*/
  	background: -o-linear-gradient(bottom,rgba(255,255,255,0),rgba(255,255,255,1)); /*Opera 11.1-12*/
  	background: -moz-linear-gradient(bottom,rgba(255,255,255,0),rgba(255,255,255,1)); /*Fx 3.6-15*/
  	background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)); /*Standard*/

}
#header{
   	width: 100%;
   	min-width: 800px;
	background-color: #ebe7e1;
	border-bottom: 30px solid #b8112c;
	position: fixed;
	z-index: 10;
	height: 120px;
  	box-shadow: 1px 1px 1px #888888;
	margin-bottom: 10px;	
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}
#header.scrolled{
	height: 0px;
	border-bottom: 10px solid #b8112c;
}

#header.scrolled:hover {
	height: 120px;
	border-bottom: 30px solid #b8112c;
}

#header.scrolled:hover .btn.scrolled{
	visibility: visible;
}

#header.scrolled:hover #siteName.scrolled {
	margin: 20px;
	background-repeat: no-repeat;
	height: 90px;
}

#header.scrolled:hover + #classicBox.scrolled {
	margin-top: 5px;
	margin-right: 5px;
}

#header.scrolled:hover .shelf.minify.scrolled {
	visibility: visible;
	opacity: 1;
	height: 15%;
}

#header.scrolled:hover .shelf.scrolled{
	padding-top: 20px;
	height: 95%;
}

.btn.scrolled {
	visibility: hidden;
}

.shelf.scrolled {
	height: 12px;
	padding-top: 0px;
}

#dLoad {
border-radius: 15px;
padding-bottom: 10px;
position: relative;
width: 100px;
margin-left: 10px;
height: 18px;
text-decoration: none;
margin-top:30px;

}

#dLoad:hover {
	background-color: #E41738;
}

	#exportShelf {
  display: inline-block;
  text-align: center;
  bottom: 30px;
  max-width: 85%;
  max-height: 200px
	}

#shareButton2{
	border-radius: 15px;
	position: absolute;
	top: 293px;
	padding-bottom: 10px;
	width: 70px;
	height: 18px;
	left: 12px;
}

/* Book Shelf */

.shelfBox {
	z-index: 3001;
	width: 530px;
	display: inline-block;
	position: relative;

}

.shelf {
	cursor: -moz-zoom-in; cursor: -webkit-zoom-in;
	z-index: 3001;
	position:absolute;
	background-image: url("../img/shelf1.png");
	background-size: 100% 20px;
	background-position: 60% 100%;
	background-repeat: no-repeat;
	box-shadow: 0px 30px 30px -30px black;
	height: 95%;
	min-width: 525px;
	text-align: center;

}

#row1 {
	visibility: visible
}
	
.displayedShelf {
	position: absolute;
	top: 20px;
	z-index: 3002;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.displayedShelf.scrolled {
	top: 0px;
}
.minify {
	padding-top: 10px;
	height: 15%;
	width: 80px;
	background-size: 70px 5px;
	display: block;
	 left: 520px;
	position: relative;
	min-width: initial;
}

.miniSpine {
	top: -5px !important;
	width: 3%;
	overflow: hidden;
}

.extraRowBox {
	padding-top: 10px;
	height: 110px;
}

#shareShelf.scrolled {
	visibility: visible;
	opacity: 0;
}

.shelf.minify.scrolled {
	visibility: hidden;
	opacity: 0;
}

.btn {
	margin-top: 20px;
	display: inline-block;
	position: absolute;
	z-index: -1;
}

#tag {
color: #660;
font-size: 16px;
text-decoration: none;
font-family: georgia, serif;
z-index: 5000;
height: 100px;
position: relative;
padding-left: 5px;
display: inline-block;
}

.shelf.ui-state-highlight{
	background-color: #fffdd1;
}

.shelf.ui-state-highlight.minify {
	background-color: none !important;
}

.zoom {
	cursor: -moz-zoom-out; cursor: -webkit-zoom-out;
	margin-top: 80px;
	 -webkit-transform: scale(2);
	 transform: scale(2);
	 -moz-transform: scale(2);
}

.thumbBox.ui-draggable-dragging {
	-webkit-transform: scale(.5);
	 transform: scale(.5);
}

#coverContainer {
	position: relative;
	top: 170px;
	width: 100%;
}

#coverContainer.ui-state-highlight {
	background-color: #fffdd1
}

#covers{
	position: relative;
	width: 75%;
	padding: 10px;
	display: inline-block;
}

#details {
	border-radius: 10px;
	 box-shadow: 2px 2px 20px rgb(70, 70, 70);
	display: inline-block;
	z-index: 3002;
	width: 700px;
	height: 500px;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 130px;
	left: 50%;
	margin-left: -350px;
	background-color: white;
	transition: opacity .4s ease;
	-webkit-transition: opacity .4s ease;
      -moz-transition: opacity .4s ease;
}

#loader {
	z-index: 303;
	width: 40px;
	height: 40px;
	right: 250px;
	display: inline-block;
	position: absolute;
	top: 200px;
}

#loader2 {
	z-index: 303;
	width: 40px;
	height: 40px;
	display: inline-block;
	position: absolute;
	top: 120px;
}

#clickedCover {
	margin: 30px;
	height: 300px;
	width: 150px;
	background-size: contain;
	background-repeat: no-repeat;
}

.triangle {
	width: 0px;
	height: 0px;
	top: -4px;
	left: -4px;
	position: absolute;
	border-top: 44px solid #b8112c;
	border-right: 44px solid transparent;
	background-color: transparent;
	float: left;
	z-index: 3;
	display: inline-block;
}
#rank {
	position: relative;
	float: left;
	top: -43px;
	left: 4px;
	color: white;
	font-size: 14px
}

.thumbBox {
	cursor: pointer;
	box-shadow: 2px 8px 20px #888888;
	padding: 0px 0px 0px 0px;
	display: inline-block;
	height: 200px;
	width: 130px;
	position: relative;
	margin: 20px;
	background-color: black;
}

/*.thumbBox:hover .st_pinterest {
	visibility: visible;
	opacity: 1;
}*/


#siteName {
	background-image: url("../img/ml_tall.png");
	z-index: 400;
	background-size: contain;
	height: 100%;
	width: 17%;
	margin-left: 20px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
}

#siteName.scrolled {
	background-repeat: no-repeat;
	margin-top: 30px;
	height: 40px;
	margin-left: -5px;
}


.spine {
	display: inline-block;
	position: relative;
	cursor: pointer;
	top: -13px;
	height: 100%;
	-webkit-transition: right .2s ease-in-out;
	transition: right .2s ease-in-out;
	-moz-transition: right .2s ease-in-out;
}

.spine img {
	width: 19px;
	height: 100%;
}

.ui-draggable-helper img{
	display: inline-block;
	position: relative;
	cursor: pointer;
	height: 50px;
}

.cover{
	opacity: 1;
	height: 100%;
	width: 100%;
	position: relative;
	background-color: black;
	z-index: 2;
	  transition: all .1s ease-in-out;
   -webtkit-ansition: all .1s ease-in-out;
   -moz-transition: all .1s ease-in-out;

}
.title:hover {
	opacity: 1;

}

.title:hover ~ .cover {
	opacity: .3 !important;

}

.title {

padding: 10px;
padding-right: 15px;
font-size: 97%;
z-index: 3;
width: 100px;
height: 175px;
opacity: 0;
color: white;
position: absolute;
top: 0px;
padding-top: 20px;
  transition: all .1s ease-in-out;
   -webtkit-ansition: all .1s ease-in-out;
   -moz-transition: all .1s ease-in-out;
}


/*HOW CLASSIC ARE YOU?*/

#classicBox {
	z-index: 5000;
	margin: 5px;
	cursor: pointer;
    display: inline-block;
	position: fixed;
	height: 100px;
	right: 50px;	
	width: 100px;
	perspective: 1400px;
    -webkit-perspective: 1400px;
    -moz-perspective: 1400px;
    transition: all .2s ease-in-out;
   -webtkit-ansition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
}

#classicBox.scrolled {
	margin-top: 30px;
	margin-right: 10px;
}

#howClassic {
	left: 15px;
	height: 100%;
 	 width: 100%;
  	position: relative;
  transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
  transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
}

.howClassicText {
	margin-top:10px;
}

#howClassic figure {
	border-radius: 5%;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid #990f24;
  backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

#classicScore{
	top: 23px;
	display: inline-block;
	font-size: 40px;
	vertical-align: center;
	position: relative;
}

#howClassic .back {
	visibility: visible;
	color: white;
	background-color: #b8112c;
	border-radius: 50%;
	border: 5px solid #990f24;
  transform: rotateY( 180deg );
  -webkit-transform: rotateY( 180deg )

}

#howClassic .front {
	visibility: visible;
	color: white;
	border-radius: 50%;
	border: 5px solid #990f24;
	background-color: #b8112c; 
	opacity: .9;
}

#howClassic.flipped {
    transform: rotateY( 180deg );
    -webkit-transform: rotateY( 180deg);
}

#classicDetails {
	padding: 20px;
	color: #990f24;
	visibility: hidden;
	opacity: 0;
	background-color: white;
	height: 300px;
	width: 350px;
	position: fixed;
	right: 60px;
	top: 50px;
	z-index: 5000;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgb(70, 70, 70);
	 transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
}

#classicLevel {
	color: #7da2b5;
	position: relative;
	top: 80px;
}

#c1 {
	display: inline-block;
	font-weight: bold;
	font-size: 30px;
	padding-top: -10px;
	text-align: right !important;
	position: relative;
	right: 50px;
	line-height: 30px;
	height: 20px;
	width: 200px;
	top: 5px;
}

#arrowUp {
	display: inline-block;
	position: absolute;
	top: 90px;
	right: 50px;
	height: 45px;
	width: 100px;

}

#classicDetails.visible {
	opacity: 1;
	visibility: visible;
}


#overlay {
	position: fixed;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	background-color: black;
	width: 100%;
	z-index: 500;
	text-align: center;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
      -moz-transition: all .4s ease;
}

#getLayer {
	position: fixed;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	background-color: black;
	width: 100%;
	z-index: 3000;
	text-align: center;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
      -moz-transition: all .4s ease;
}

#getContent {
	text-align: center;
	padding: 20px;
	visibility: hidden;
	opacity: 0;
      box-shadow: 2px 2px 20px rgb(70, 70, 70);
      width : 800px;
      height: 400px;
      border-radius : 5px;
      z-index : 3002;
      background-color : white;
      transition: all .4s ease;
	-webkit-transition: all .4s ease;
      -moz-transition: all .4s ease;
      margin: auto;  
  		position: absolute;
	  left:0;
	  right: 0;
	  top: 0;
	  bottom: 0;
}


	.exportBox {
	height: 240px;
  	width: 100%;
  	position: relative;
    z-index: 2000;
    margin-top: 30px;
	}

#shelfHeader{
	color: #7da2b5;
	font-size: 40px;
}

.button {
	 box-shadow: 0px 2px 5px rgb(70, 70, 70);
	font-size: 16px;
	color: white;
      cursor :pointer;
      border : 2px solid white;
      background-color: #b8112c;
      height: 28px;
      width : 28px;
      border-radius : 50%;
      display : inline-block;
      top: -13px;
      left: -13px;
      position: absolute;
      z-index : 3001;
}

.button:hover{
	  background-color : #E41738;
}

#shareButton {
	border-radius: 15px;
	padding-bottom: 10px;
	position: relative;
	width: 70px;
	margin-left: 10px;
	height: 18px;
	margin-top: 30px;
}

li img {
	height: 8px;
	width: 8px;
	padding-right: 8px;
	padding-top: 3px;
	color: #E41738;

}

#helpBox {
	position: fixed;
	display: inline-block;
	left: 20px;
	bottom: 20px;
	width: 280px;
	height: auto;
	box-shadow: 0px 2px 5px rgb(70, 70, 70);
	font-size: 14px;
	visibility: hidden;
	opacity: 0;
	z-index: 3000;
	color: white;
	background-color: #7da2b5;
	border-radius:5px;
	 transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
}

#helpBox.visible {
	visibility: visible;
	opacity: 1;
}

#helpBox.scrolled {
	visibility: hidden;
	opacity: 0;
}
#helpList{
	list-style-image:url('../img/ast.png');
	padding-right: 20px;
	padding-left: 33px;
}

#li1{
	position: relative;
	left: -3px;
}

#li2 {
	position: relative;
	left: -10px;
}

#li3 {
	position: relative;
	left: -13px;
}

#li4 {
	position: relative;

}

a {
	text-decoration: none
}

#helpB {
	font-size: 15px;
	color: white;
	border-radius: 50%;
	background-color: gray;
	 box-shadow: 0px 2px 5px rgb(70, 70, 70);
	z-index: 3001;
	height: 20px;
	bottom: 0;
	width: 20px;
	float: left;
	position: fixed;
	left: 0;
	border: 2px solid white;
	margin: 15px;
	cursor: pointer;
	opacity: .9;
	 transition: all .2s ease;
	-webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
}

#helpB:hover {
	opacity: 1;
	background-color: #b8112c;
}

#getLayer.visible {
	opacity: .5;
	visibility: visible
}

#getContent.visible {
	visibility: visible;
	opacity: 1;
}

#s1{
	color: white;
	font-size: 14px;
	position: relative;
	line-height: 18px
}

#s2 {
	font-family:;
	position: relative;
	font-size: 25px;
}

/*Goodreads Widget Styling*/

 #goodreads-widget {
 	position: absolute;
    font-family: georgia, serif;
    width:450px;
    top: 55px;
    right: 20px;
  }
  #goodreads-widget h1 {
    font-weight:normal;
    font-size: 16px;
    border-bottom: 1px solid #BBB596;
    margin-bottom: 0;
  }
  #goodreads-widget a {
    text-decoration: none;
    color: #660;
  }
  iframe {
    background-color: #fff;
  }
  #goodreads-widget a:hover { 
  	text-decoration: underline; }

  #goodreads-widget a:active {
    color:#660;
  }
  #gr_footer {
    width: 100%;
    border-top: 1px solid #BBB596;
    text-align: right;
  }

  #gr_header .gr_branding{
    color: #382110;
    font-size: 11px;
    text-decoration: none;
    font-family: verdana, arial, helvetica, sans-serif;
  }
   #gr_header {
 	position: absolute;
 	font-size: 11px;
    font-family: georgia, serif;
    padding: 18px 0;
    width:450px;
    top: 0;
    right: 20px;
  }
    #gr_header h1 {
    font-weight:normal;
    font-size: 16px;
    border-bottom: 1px solid #BBB596;
    margin-bottom: 10px;
  }

  #gr_header a {
    text-decoration: none;
    color:#660;
  }

  .gr_write_review_button, .gr_reviews_showing{
  	display: hidden !important;
  	visibility: hidden;
  }

/*  
  SHARE BUTTONS*/

#shareShelf {
	font-size: 14px;
	width: 115px;
	border-radius: 10px;
	position: absolute;
	left: -30px;
	top: 5px;
	height: 20px;
	visibility: hidden;
	opacity: 0;
	z-index: 3002;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

#shareShelf.scrolled {
	visibility: hidden;
	opacity: 0;
}

.shelfBox:hover #shareShelf {
    opacity: 1;
    visibility: visible
}

#classicDetails .socialBox {
	bottom: 40px;
	right: 40px;
	height: 40px;
	width: 300px;
	position: absolute;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	overflow: hidden;
}

#socialBox1 {
  right: 60px;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  bottom: 30px;
}

#classicDetails #socialBox2 {
   right: initial; 
  bottom: 5px;
  right: 0px;
  left: 80px;
}

.social {
	visibility: hidden;
	width: 300px;
	left: -200px;
	position: relative;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
}

#social1.visible {
	visibility: visible;
	left: -40px;
}

#social2 {
	width: 150px;
}

#social2.visible {
	visibility: visible;
	 left: 10px;
}

.social img {
	height: 30px;
	width: 30px;
	cursor: pointer;
}

/*.st_pinterest {
	position: absolute;
	float: right;
	z-index: 3000;
	bottom: 0;
	right: 0;
	visibility: hidden;
	opacity: 0;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}*/

.shelf2 .spine  {
	width: 19px;
	height: 114px;
	text-align: center;
	top: 0px;
}

.shelf2 {
	opacity: 1;
	left: 5000px;
	z-index: 100;
	text-align: center;
	position: relative;
	display: inline-block;
/*	max-width: 700px;*/
	width: auto;
	-webkit-transform: scale(3);
	-moz-transform: scale(3)
}

@-moz-document url-prefix() {
    .spine, .social img, .button, #classicBox, .thumbBox, #helpB {
        cursor: pointer
    }
    #li1, #li2, #li3, #li4 {
    	position: relative;
    	left: 0px;
    }

    #socialBox1 {
    	bottom: 60px;
	}
}

#the_iframe {
	width: 450px;
	height: 400px 
}

.st_facebook_custom, .st_twitter_custom, .st_pinterest_custom, .st_tumblr_custom {
	width: 20px;
	height: 20px;
	padding:3px;
}
/*
ClassicScore, minishelves overlap*/

@-ms-viewport{
  width: device-width;
}

@media (max-width: 990px) {
	#classicBox {
		left: initial;
		margin: 0;
		right: 0px;
		top: 0px;
		bottom: 0px;
		transform:scale(.5) ;
		-webkit-transform: scale(.5);
		-moz-transform: scale(.5);
	}

	#classicBox.scrolled {
		margin-top: 0px;
		margin-right: 0px;
	}
	#classicDetails {
		right: 40px;
	}

	#classicLevel {
		top: 10%;
		margin: 15px;
	}
}

@media (max-width: 400px) {
	body, #header {
		min-width: 220px
	}

	.shelf {
		min-width: 280px
	}
	.shelfBox {
		width: 250px;
	}

	.minify {
	  left: -60px;
	  height: 15px !important;
	  padding-top: 0px;
	  background-size: 45px 2px;
	  background-position-x: center;
	  min-width: 20%;
	  top:100px;
	}

	.miniSpine {
		top: -4px !important;
		width:initial;
		 width: 2% !important;
	}

	.extraRowBox {
		height: 48px
	}
  #covers {
    width: 85%;
  	}

  	#coverContainer {
  		top: 90px;
  	}

  	#details, #siteName.scrolled, #m1, #c1, #arrowUp {
  	display: none;
  	}

  	#siteName {
  		z-index: 20;
  		width: 100%;
  		margin-left: initial;
  		margin: 0 auto;
  		opacity: .2;
  		background-size: 50%;
  	}

  	h3 {
  		margin-top: 10px;
		font-size: 13px;
  	}

	#helpBox {
		width: 220px;
		height: 320px;
		font-size: 12px;
	}
	
	#helplist {
		padding-right: 10px;
		padding-left: 20px;
	}
	#header {
		height:60px;
	}
	
	#header.scrolled:hover {
		height: 60px;
	}

	#header.scrolled:hover .shelf.minify.scrolled {
		padding: 0px;
		margin: 0px;
	}

	#classicBox {
		left: initial;
		margin: 0;
		right: 0px;
		top: initial;
		bottom: 0px;
		transform:scale(.5) ;
		-webkit-transform: scale(.5);
		-moz-transform: scale(.5);
	}

	#classicBox.scrolled {
		margin-top: 0px;
		margin-right: 0px;
	}
	#classicDetails {
		padding: 5px;
		height: 220px;
		width: 80%;
		right: 0;
		top: initial;
		left: 8%;
		bottom: 45px;
		font-size: 14px;
		font-stretch: condensed;
	}

	#classicLevel {
		top: 10%;
		margin: 15px;
	}

	#shareShelf {
/*		right: -50px;
	  left: initial;			
	  top:100px;*/
	  visibility: visible;
	  opacity: 1;
	}

	#shareShelf.scrolled {
	visibility: visible;
	opacity: 1;
	}

	#shareButton2 {
		display: none
	}

	.social {
		visibility: visible;
		left:initial;
		width: initial;
	}

	.socialBox {
		width:  initial;
	}

	.button {
		transform:scale(.8) ;
		-webkit-transform: scale(.8);
		-moz-transform: scale(.8);
	}

	#s1 {
		font-size: 18px;
	}

	.spine  {
		width: 10px;
	}

	.spine img {
		width: 100%;
	}

	.exportBox {
		height: 150px;
		margin-top: 0px
	}

	#getContent {
		width: 80%;
		height: 250px;
	}

	#exportShelf {
		top: 20px;
		height: 100%;
	}

	#shelfHeader {
		font-size: 16px;
		padding: 5px;
		top: 10px;
	}

	#dLoad {
	}

	#shareButton {
	}
}